@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Muli|Poppins');
/* declaring css variables */

:root {
   --colorWhite: #ffffff;
   --colorOrange: #f6b34e;
   --colorGrey: #131313;
   --colorGreyO1: #9c9c9c;
   --font--primary: 'poppins';
   --font--logo: 'Montserrat';
   --font--secondary: 'muli';
   --font--fallBack: 'sans-serif';
}

/* set defaults */

*,
*::after,
*::before {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   overflow-x: hidden;
   text-rendering: optimizeLegibility;
}

body {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   width: 100vw;
   min-height: 100vh;
   font-family: var(--font--secondary);
}

/* main container */

.container {
   width: 100%;
   height: auto;
   display: flex;
   flex-direction: column;
}

/* navbar section */

.navbar {
   width: 100%;
   height: auto;
   position: fixed;
   left: 0;
   right: 0;
   top: 0;
   display: flex;
   flex-direction: column;
   z-index: 100;
}

.navbar--nav {
   position: relative;
   height: 100px;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background: var(--colorOrange);
}

.navbar--navigation {
   width: 100%;
   height: 80px;
   box-shadow: 0 2px 6px rgba(000, 000, 000, 0.1);
   background: var(--colorWhite);
   display: flex;
   align-items: center;
   justify-content: center;
}

/* end of navbar section */

/* start of logo styling */

.logo,
.smallLogo {
   position: absolute;
   left: 30px;
   color: var(--colorWhite);
   font-family: var(--font--logo);
   font-size: 22px;
}

.logo::first-letter {
   font-size: 30px;
}

.logo--right,
.smallLogo>span {
   color: var(--colorGrey);
}

.logo--right>span .smallLogo>span {
   font-size: 30px;
}

.smallLogo {
   display: none;
}

/* end of logo styling */

/* start of search input styling */

.search {
   width: 40%;
   height: 50px;
   border-radius: 30px;
   border: none;
   padding: 0 30px;
}

.search:hover,
.search:focus {
   outline: none;
}

/* end of search input styling */

/* start of link styling */

.linkItems {
   width: 400px;
   height: 100%;
   display: flex;
   justify-content: space-between;
}

.linkItems--link {
   display: flex;
   align-items: center;
   justify-content: center;
   text-decoration: none;
   color: var(--colorGrey);
   padding: 0 10px;
}

.linkItems--link.active {
   color: var(--colorGreyO1);
   background-color: rgba(246, 179, 78, 0.2);
   border-bottom: 2px solid var(--colorOrange);
}

/* end of link styling */

/* start footer styling section */

.footer {
   position: relative;
   width: 100%;
   height: 80px;
   background: var(--colorOrange);
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 30px;
}

/* end footer styling section */

/*start styling main */

.main {
   height: auto;
   width: 100%;
   margin-top: 200px;
}

.content {
   margin: 0 auto;
   max-width: 810px;
   height: auto;
   display: flex;
   flex-wrap: wrap;
   align-items: stretch;
}

/*end styling main */

/*start card styling */

.card {
   position: relative;
   width: 250px;
   height: auto;
   border-radius: 5px;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   background: var(--colorWhite);
   box-shadow: 0 2px 6px rgba(000, 000, 000, 0.1);
   margin: 10px;
}

.card--imageWrapper {
   width: 100%;
   object-fit: cover;
   display: flex;
   justify-content: center;
   height: 200px;
   overflow: hidden;
   border-bottom: 1px solid #f4f4f4;
}

.card--image {
   height: 200px;
}

.card--content {
   flex: 1;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.card--text {
   width: 100%;
   height: auto;
   padding: 10px;
}

.card--title {
   font-family: var(--font--primary);
   font-size: 18px;
   margin-bottom: 5px;
}

.card--subtitle {
   font-size: 17px;
   font-family: var(--font--secondary);
}

.card--actions {
   display: flex;
   justify-content: flex-end;
   padding: 10px;
}

/*end card styling */

/* buttons*/

.btn {
   border: none;
   width: 100px;
   height: 40px;
   border: 1px solid var(--colorOrange);
   background: rgba(246, 179, 78, 0.2);
   cursor: pointer;
   font-family: inherit;
   font-size: 17px;
   border-radius: 3px;
   color: var(--colorOrange);
}

/* media queries */

/* media query for phones */

@media only screen and (max-width: 37.5em) {
   .logo {
      display: none;
   }
   .smallLogo {
      position: absolute;
      left: 2px;
      display: block;
   }
}

/* media query for tablets in potrait mode */

@media only screen and (max-width: 56.25em) {}

/* media query for tablets in landscape mode */

@media only screen and (max-width: 75em) {}

/*media queries for big desktops (bazenga) */

@media only screen and (min-width: 112.5em) {
   .content {
      max-width: 960px;
   }
   .card {
      width: 300px;
   }
}

/*
* 3 units of measurement in css px rem em
* px stands for pixels
* rem in a unit of measurement relative to the unit of measurement set at the root of the html
* what is an em
* em is a unit of measurement relative to the font-size set by the browser
* most browsers have a default font-size of 16px;
* often times one em is equal to 16px

37.5 * 16 = 600px
56.25 * 16 = 900px
75 * 16 = 1200px
112.5 * 16 = 1800px
*/